<div class="author">
    <h1 class="author__heading">Author: Kiarra Bowen</h1>
    <p class="author__body">My Name is Kiarra, this is my blog where I tell you to eat your clothes and wash your computer! </p>
</div>

<img src="../img/thumb16.jpg" alt="picturedescription">

<section class="articles">
    <h2 class="articles__heading">Latest Post</h2>
 

    <!-- Dummy Data placeholder-->
    <ul class="article-ul">
        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%=post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date">
                    <%= post.createdAt.toDateString() %> </span>
                </a>
            </li>
       <% });%> 
    </ul>
<% if (nextPage !== null) { %>
<a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
<% } %>

<!-- if prevPage is 1 then go to / -->
<% if (prevPage >= 1) { %> <% if (prevPage === 1) { %>
<a href="/" class="pagination-newer">View Newer Posts &gt;</a>
<% } else { %>
<a href="/?page=<%= prevPage %>" class="pagination-newer">
View Newer Posts &gt;</a>
<% } %> <% } %>

</section> 